<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>FOSS4G Abstracts list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main class="container">
        <h1>FOSS4G Abstracts list</h1>
        {% if abstracts %}
        <section>    
            <p>Enjoy! :-)</p>
            
            <table role="grid">
                {% for abstract in abstracts %}
                <tr class="abstract-data">
                    <td class="title contrast">
                        <strong>
                            <a href="{{url}}?page={{abstract.page}}" target="_blank">
                                {{abstract.title}}</strong>
                            </a>
                    </td>
                    <td class="page">Page: <mark>{{abstract.page}}</mark></td>
                    <td class="score">Score: <mark>{{abstract.page}}</mark></td>
                </tr>
                <tr>
                    <td class="abstract" colspan="3">{{abstract.html | safe}}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
        {% else %}
        {% if error %}
        <section>
            <h3>Error processing the request</h3>
            <div>
                <mark>Please check your identifier</mark>
            </div>
        </section>
        {% endif %}
        <section>
            <h3>What is this site?</h3>
            <p>The FOSS4G community review is a shared effort to evaluate all the 400
                abstracts submitted in a fair process. The system randomizes the list to give everyone the
                same chance to get votes so your list will be different from everyone else.
            </p>
            <p>
                This site gives you in a single page the full list
                of abstracts along with the page on the evaluation system and the current
                score you've submitted. This will be helfpul for those willing to provide
                feedback to selected talks avoiding to traverse the 20 pages of abstracts.
            </p>
            <h3>Submit your FOSS4G identifier</h3>
            <p>Put on the following form the string that was shared with you 
                in the notification received from the FOSS4G submissions form. 
                For example, from the screenshot below you would need to copy the string between 
                <mark>bc2325...</mark> and <mark>MX5_sc</mark>. Don't copy the 
                final forward slash character.
            </p>
            <div>
                <figure>
                    <img src="{{ url_for('static', filename='img/screenshot.png') }}"/>
                </figure>
            </div>
            <div class="grid">
                <form>
                    <label for="foss4gid">FOSS4G pretalx ID:
                        <input type="text" id="foss4gid" name="foss4gid" value="bc2325....MX5_sc">
                    </label>
                    <input onclick="window.location.href = '/';" type="submit" value="Get abstracts" />
                </form>
            </div>
        </section>
        {% endif %}
    </main>
</body>
</html>
